@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

header {
    z-index: 10001 !important;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.home-container {
    background-image: url('./assets/bg-home.png');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .home-container {
        background-image: url('./assets/bg.jpg');
    }
}